@require '../../styles/palette'

.app-logging
  height: 20%
  background-color: white

  .btn-clear
    font-family: Arial
    background-color: #eee
    border: none
    padding: 5px 10px
    border-radius: 4px
    cursor: pointer
    cursor: hand
    color: #888;
    margin-bottom: 12px;

    &:hover
      background-color: #cfd8dc;

    &:disabled
      background-color: #eee;
      color: #aaa;
      cursor: auto;

  .log-msg
    line-height: 16px
    border-bottom: 1px solid var_colour_1
