@require '../../styles/palette'

.logging-component
  height: 100%
  color: var_bg_col_1
  background-color: var_bg_col_0
  opacity: 0.5
  box-sizing: border-box
  padding: 10px
  display: flex
  flex-direction: column
  overflow: hidden;

  h2
    display: inline-block
    margin-right: 10px

  .log-window
      height: 100%
      overflow-y: scroll

    .log-msgs-wrap
      padding-bottom: 24px

      .log-msg
        line-height: 16px
        border-bottom: 1px solid var_bg_col_2
