<div class="wrap">
  <mat-card class="header" routerLink="/">
    <h1>Admin Console</h1>
    <button class="btn-logout" *ngIf="authorised()" (click)=logout()
            mat-button>Logout</button>
  </mat-card>
  <as-split direction="vertical">
    <as-split-area [size]="75" class="middle">
      <div *ngIf="authorised(); then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <router-outlet></router-outlet>
      </ng-template>
      <ng-template #elseBlock>
        <app-login></app-login>
      </ng-template>
    </as-split-area>
    <as-split-area *ngIf="authorised()" [size]="25" class="app-logging">
    </as-split-area>
  </as-split>
  <mat-card class="footer">
    Copyright Rob Jinman 2019. All rights reserved.
  </mat-card>
</div>
