<div class="wrap">
  <div class="header" routerLink="/">
    <h1>RobJinman.com Admin Console</h1>
  </div>
  <as-split direction="vertical">
    <as-split-area [size]="80" class="middle">
      <div *ngIf="authorised(); then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <router-outlet></router-outlet>
      </ng-template>
      <ng-template #elseBlock>
        <app-login></app-login>
      </ng-template>
    </as-split-area>
    <as-split-area [size]="20" class="app-logging">
    </as-split-area>
  </as-split>
  <div class="footer">Copyright Rob Jinman 2019. All rights reserved.</div>
</div>
