.comments-component
  table
    width: 100%
    margin-top: 20px

    .mat-header-cell
      padding: 0 5px

    .mat-cell
      padding: 0 5px

    .mat-column-action
      mat-icon
        display: inline-block

      white-space: nowrap

    .mat-cell
      padding: 0 5px

    .tbl-comments-row
      .cell-content
        cursor: pointer

    .content-expanded
      padding: 10px

    .comment-action
      cursor: pointer