@require '../../styles/mixins'
@require '../../styles/palette'

.comments-component
  page()

  table
    width: 100%
    margin-top: 20px

    .tbl-comments-row
      .cell-content
        cursor: pointer

    .content-expanded
      padding: 10px

    .comment-action
      cursor: pointer