@require '../../styles/palette'
@require '../../styles/mixins'

.feed-component
  page()

  .feed-item
    margin-bottom: 20px
    cursor: pointer

    .item-title
      margin-bottom: 5px

    .item-summary
      margin-top: 20px