@require '../../styles/palette'

.feed-component
  .feed-item
    margin-bottom: 20px
    cursor: pointer
    background-color: var_bg_col_1

    .item-title
      margin-bottom: 5px

    .item-summary
      margin-top: 20px