@require '../../styles/palette'

.feed-component
  .feed-item
    margin-bottom: 20px
    cursor: pointer
    background-color: var_bg_col_1

    .tags-list
      float: right

      .tag
        display: inline

        &:not(:first-child):before
          content: '\00B7'
          padding: 0 8px

    .item-title
      margin-bottom: 5px

    .item-summary
      margin-top: 20px