@require '../../styles/palette'

.comments-component
  margin-top: 20px
  padding: 10px
  background-color: var_bg_col_1

  .comment-form
    .form-input
      display: block

    .err-msg
      color: red

    .btn-submit
      margin-top: 10px

  .authorisation
    max-width: 400px
    margin: 0 auto 0 auto

    .tab-wrap
      padding: 20px 0

  .comments-section
    margin-top: 20px

    .comment
      padding: 10px 0 10px 0

      .comment-date
        display: inline-block
        font-size: 0.9em

      .comment-author
        font-size 0.9em
        font-weight: bold
        position: relative
        left: 10px
        display: inline-block

        &.deleted
          font-weight: normal
          color: gray

        .hidden
          margin-left: 10px
          font-weight: normal
          color: red