.comments-component
  margin-top: 20px

  .comment-form
    text-align: center

    .form-input
      display: block

    .err-msg
      color: red

  .authorisation
    width: 400px
    margin: 0 auto 0 auto

    .tab-wrap
      padding: 20px 40px 0 40px

  .comments-section
    margin-top: 40px

    .comment
      .comment-date
        display: inline-block

      .comment-author
        display: inline-block
