.comments-component
  margin-top: 20px

  .comment-form
    .form-input
      display: block

    .err-msg
      color: red

  .authorisation
    width: 400px
    margin: 0 auto 0 auto

    .tab-wrap
      padding: 20px 40px 0 40px

  .comments-section
    margin-top: 20px

    .comment
      padding: 10px 0 10px 0

      .comment-date
        display: inline-block
        font-size: 0.9em

      .comment-author
        font-size 0.9em
        font-weight: bold
        position: relative
        left: 10px
        display: inline-block
