<mat-card class="header-component">
  <h1 (click)="navigateTo('/feed', $event)">robjinman</h1>
  <mat-icon svgIcon="menu" class="menu-icon" (click)="toggleMenu()"></mat-icon>
  <div class="logout" *ngIf="authService.authorised">
    <button mat-button class="btn-logout" (click)="logout()">Logout</button>
    <div class="username" [ngClass]="{ 'not-activated': !authService.activated }">
      ({{ authService.userName }})</div>
  </div>
  <div class="nav-menu" [ngClass]="{'open': open}">
    <div class="navbar-link" (click)="navigateTo('/feed', $event)">Blog</div>
    <div class="navbar-link" (click)="navigateTo('/portfolio', $event)">Portfolio</div>
    <div class="navbar-link" (click)="navigateTo('/about', $event)">About</div>
  </div>
</mat-card>