@require '../../styles/palette'

.header-component
  background-color: var_colour_3
  color: white
  line-height: 40px
  flex-grow: 0
  overflow-y: hidden
  user-select: none
  border-radius: 0

  h1
    display: inline
    margin: 0 0 0 20px
    font-weight: normal
    cursor: pointer

  .menu-icon
    float: left
    width: 40px
    height: 40px
    cursor: pointer

  .logout
    float: right

    .username
      display: inline-block

      &.not-activated
        color: red

  .nav-menu
    text-align: center
    height: 0
    overflow: hidden

    &.open
      height: auto

    .navbar-link
      cursor: pointer