.compose-article-component
  background-color: white
  display: flex
  flex-direction: column

  .form-input
    display: block

  .content-input
    display: block
    margin-bottom: 10px

    quill-editor
      display: block

  button
    display: inline-block
    max-width: 100px
    margin-right: 5px
