.attachments-component
  margin-top: 20px

  .tbl-files
    width: 100%

  .file-upload
    margin: 0 auto 20px auto

    .file-selector
      .file-path
        display: inline-block

    .file-details
      width: 50%
      margin: 0 auto 0 auto

    .form-input
      display: block