.attachments-component
  margin-top: 20px
  text-align: center

  .tbl-files
    width: 100%

    .mat-header-cell
      padding: 0 5px

    .mat-cell
      padding: 0 5px

    .mat-column-action
      mat-icon
        display: inline-block

      white-space: nowrap

    .mat-column-url
      max-width: 80px
      overflow-x: hidden

    .txt-url
      width: 100%

    .file-action
      margin-right: 10px
      cursor: pointer

  .file-upload
    margin: 0 auto 20px auto

    .file-selector
      .file-path
        display: inline-block

    .file-details
      width: 50%
      margin: 0 auto 0 auto

    .form-input
      display: block
