<div class="dashboard-component page">
  <mat-card class="dash-item" routerLink="/pages">
    <span>Pages</span>
  </mat-card>
  <mat-card class="dash-item" routerLink="/articles">
    <span>Articles</span>
  </mat-card>
  <mat-card class="dash-item" routerLink="/comments">
    <span>Comments</span>
  </mat-card>
  <mat-card class="dash-item" routerLink="/users">
    <span>Users</span>
  </mat-card>
  <mat-card class="dash-item" routerLink="/security">
    <span>Security</span>
  </mat-card>
</div>
