@require '../../styles/mixins'
@require '../../styles/palette'

.dashboard
  display: flex
  flex-direction: row
  padding: 10%
  font-size: 2em

  .dash-cell
    flex-grow: 1
    cursor: pointer
    display: block
    margin: 10px
    height: 150px
    text-align: center
    text-decoration: none

    span
      display: block
      position: relative
      top: 50%
      transform: translateY(-50%)
