@require '../styles/palette'

.wrap
  min-height: 100%
  font: 14px Helvetica, Arial, sans-serif
  background-color: var_colour_0
  display: flex
  flex-direction: column

.middle
  flex-grow: 1

.footer
  min-height: 80px
  box-sizing: border-box
  flex-grow: 0
  background-color: var_colour_3
  color: white
  text-align: center
