@require '../../styles/palette'

.article-component
  .article
    background-color: var_fg_col_1

    .article-title
      margin-bottom: 5px

    .article-content
      margin-top: 20px

    pre.ql-syntax
      background-color: #eee;
      font-size: 0.9em;
      padding: 10px;
