<div class="articles-component">
  <table mat-table [dataSource]="articleTable">
    <ng-container matColumnDef="published">
      <th mat-header-cell *matHeaderCellDef>Published</th>
      <td mat-cell *matCellDef="let element">{{element.published}}</td>
    </ng-container>
    <ng-container matColumnDef="lastModified">
      <th mat-header-cell *matHeaderCellDef>Last modified</th>
      <td mat-cell *matCellDef="let element">{{element.lastModified}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="draft">
      <th mat-header-cell *matHeaderCellDef>Draft</th>
      <td mat-cell *matCellDef="let element">{{element.draft}}</td>
    </ng-container>
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef>Comments</th>
      <td mat-cell *matCellDef="let element">{{element.comments}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr routerLink="/compose" [queryParams]="{ 'id': row.id }" mat-row
        *matRowDef="let row; columns: displayedColumns;"
        class="tbl-articles-row"></tr>
  </table>
</div>
