@require '../../styles/mixins'
@require '../../styles/palette'

.article-link
  height: 30px
  padding: 10px 0 0 10px
  font-size: 1.4em
  cursor: pointer
  &:hover
    background-color: white
    border: 1px solid var_colour_1
