@require '../../styles/mixins'
@require '../../styles/palette'

.articles-component
  page()

  table
    width: 100%
    margin-top: 20px

    .tbl-articles-row
      @include .mat-button
      cursor: pointer
