<div class="login-component">
  <mat-card class="login-box">
    <mat-form-field class="form-input">
      <input [(ngModel)]="email" matInput placeholder="Email"/>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input type="password" [(ngModel)]="password" matInput
             placeholder="Password" (keyup.enter)="login()" />
    </mat-form-field>
    <button class="btn-login" (click)="login()" mat-raised-button
            color="primary">Login</button>
  </mat-card>
</div>
