.login-component
  height: 100%

  .login-box
    width: 80%
    max-width: 400px
    margin: 0 auto 0 auto
    position: relative
    top: 100px
    padding: 10px
    text-align: center

    .form-input
      display: block
